<div class="container cards-container mt-3 d-flex flex-wrap justify-content-between justify-content-md-between gap-2">
    <div class="">
        <app-default-list-card
            [iconName]="'pi pi-calendar'"
            [class]="'card-icon'"
            [count]="3"
            [title]="'Today'"
        ></app-default-list-card>
    </div>
    <div class="">
        <app-default-list-card
            [iconName]="'pi pi-calendar-plus'"
            [class]="'card-icon'"
            [count]="3"
            [title]="'Scheduled'"
        ></app-default-list-card>
    </div>
    <div class="">
        <app-default-list-card
            [iconName]="'pi pi-inbox'"
            [class]="'card-icon'"
            [count]="3"
            [title]="'All'"
        ></app-default-list-card>
    </div>
    <div class="">
        <app-default-list-card
            [iconName]="'pi pi-flag-fill'"
            [class]="'card-icon'"
            [count]="3"
            [title]="'Flagged'"
        ></app-default-list-card>
    </div>
    <div class="">
        <app-default-list-card
            [iconName]="'pi pi-check'"
            [class]="'card-icon'"
            [count]="3"
            [title]="'Completed'"
        ></app-default-list-card>
    </div>
</div>