.default{
    display: flex;
    flex-direction: column;
    width: 10.5rem;
    background-color: rgb(30, 30, 30);
    padding: 5px 8px 3px 8px ;
    border-radius: 10px;
}

.head {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.count{
    color: #d4d4d4;
    font-weight: 600;
    font-size: 28px;
}

.title {
    color: grey;
    font-weight: 600;
    font-size: 15px;
}